@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* Global Scope Color Variables */
  --witch: #44355b;
  --spooky-purple: #6a45b9;
  --pumpkin: #f18805;
  --black: #333;
  --zombie: #7b9e89;
  --toxic: #618b25;
  --blood-red: #df3a1f;
  --brownish: #a8ba9a;
  --petrol: #212d40;
  --dracula-blue: #7678ed;
  --dracula-purple: #3d348b;
  --scare-cyan: #17a398;
  --ghastly-purple: #31263e;
}

.open-sans-leet {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.nunito-leet {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: var(--pumpkin);
  background: var(--witch);
}

/* main section sets main content padding/ margin */
main {
  padding: 0 15%;
}

/* Header */
header {
  background: var(--black);
  color: var(--zombie);
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Typing Effect Styling */
#dynamic-text {
  white-space: nowrap; /* Prevents line breaks */
  overflow: hidden; /* Hides overflow text */
  display: inline-block;
  position: relative;
}

.cursor {
  border-right: 2px solid var(--pumpkin); /* Cursor color */
  animation: fadeCursor 1s ease-in-out infinite; /* Cursor fading */
}

#dynamic-text span {
  opacity: 1;
  transition: opacity 0.1s ease-in-out; /* Smoothly fade letters in */
}

@keyframes fadeCursor {
  0%,
  100% {
    opacity: 1; /* Cursor fully visible */
  }
  50% {
    opacity: 0; /* Cursor invisible */
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
  font-size: 1.1rem;
  :hover {
    color: var(--pumpkin);
  }
}

nav ul li a {
  color: var(--zombie);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.4s; /* Hover color will change over 0.4seconds */
}

/* Hero Section */
#hero {
  color: var(--zombie);
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: left;
}

#hero h1 {
  font-size: 3rem;
}

#hero p {
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: var(--pumpkin);
}

#resume {
  color: var(--zombie);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;

  h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  a {
    color: var(--pumpkin);
    text-decoration: none;
  }
}

/* About Section */
#about {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
  color: var(--zombie);
}

#about h2 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

#about p {
  font-size: 1.2rem;
}

/* Tech Stack Cards Section */
.stack-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: inherit;
  column-gap: 2rem;
  row-gap: 1rem;
  padding-bottom: 20px;
}

.stack-item {
  background-color: var(--ghastly-purple);
  color: var(--pumpkin);
  border-radius: 12px;
  width: 20%;

  /* Styling tech logo/ name headers */
  .stack-item-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    a {
      text-decoration: none;
    }

    i {
      font-size: 3rem;
    }
  }

  .language-tag {
    font-size: 1rem;
    align-self: baseline;
    padding-left: 2px;
    padding-right: 2px;
    background-color: var(--blood-red);
    border-radius: 6px;
  }

  .stack-description {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Stack Item Colors */
.devicon-angularjs-plain {
  color: var(--blood-red);
}

.devicon-java-plain {
  color: var(--zombie);
}

.devicon-typescript-plain {
  color: var(--dracula-purple);
}

.devicon-spring-original {
  color: var(--zombie);
}

.devicon-git-plain {
  color: var(--pumpkin);
}

.devicon-postgresql-plain {
  color: var(--dracula-blue);
}

.devicon-docker-plain {
  color: var(--scare-cyan);
}

.devicon-rxjs-plain {
  color: var(--spooky-purple);
}

/* Projects Section */
#projects {
  background-color: var(--witch);
}

.project {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  color: #666;
}

/* Contact Section */
#contact {
  color: var(--zombie);
  font-size: 1.5rem;
  text-align: left;
  background-color: var(--witch);
}

#contact h2 {
  padding-bottom: 0.5rem;
}

#contact a {
  color: var(--pumpkin);
  text-decoration: none;
}

#contact a:hover {
  color: var(--toxic);
}

#contact p {
  font-size: 1.2rem;
}

/* Footer */
footer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  background: var(--black);
  color: var(--toxic);
  position: relative;
}

/* Skills Section Styling */
#stack {
  text-align: left;
  color: var(--zombie);
}

#stack h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}

.stack-header-description {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

/* Badges Styling */
#badge-container {
  display: flex;
  color: var(--pumpkin);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 60px;
}

.badge {
  a {
    color: var(--pumpkin);
  }

  :hover {
    color: var(--toxic);
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 0.3rem;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 12px;
  background-color: var(--pumpkin);
}

/* Responsive Design for Tablets */
@media (max-width: 1024px) {
  .stack-item {
    width: 45%;
  }
}

/* Responsive Design for Tablets (Landscape Mode) */
@media (max-width: 1080px) {
  .stack-item {
    width: 45%;
  }
}

/* Responsive Design for Mobile Devices */
@media (max-width: 480px) {
  .navbar {
    justify-content: end;
    border-radius: 0px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 36px;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .nav-links.show {
    display: flex; /* Nav slides in from the right */
  }

  /* Show the hamburger menu on mobile */
  .hamburger {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  nav ul {
    flex-direction: column;
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero p {
    font-size: 1rem;
  }

  #badge-container {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .stack-item {
    width: 90%;
  }

  .badge:hover {
    color: var(--toxic);
  }

  .skill-bar {
    width: 100%;
  }

  #contact {
    p {
      text-align: start;
    }

    .email-contact {
      padding-top: 2rem;
      text-align: center;
    }
  }
}
